/* Common Rules */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.clearfix::after{
    content: '';
    clear: both;
    display: table;
}

/* Utility Rules */

body{
    /* background-color: black; */
    font-family: 'Roboto', sans-serif;
}

main{
   /*  background-color: palevioletred; */
    height: auto;
}

footer{
    background-color: #D3D3D3;
}

.container{
    margin: auto;
    width: 85%;
}

/**** Site Header ****/

header{
    background-color: #0C325A;
    height: 500px;
    background-image: url(/assets/img/background-header.png);
    background-size: 800px;
    background-repeat: no-repeat;
    background-position: 115% bottom;
    position: relative
}

/* Nav bar */

nav{
    text-transform: uppercase;
    height: 60px;
    line-height: 60px;
}

nav div a{
    text-decoration: none;
    color: white;
    font-size: 10px;
}

.logo, .first_menu, .second_menu{
    float: left;
}

.logo{
    width: 15%;
    padding: 10px 0;
}

/* First Menu */
.first_menu{
    width: 45%;
    text-align: center;
}

.first_menu a{
    padding-left: 5px;
}

.first_menu a:hover{
    color: #7CBB02;
}

/* Second Menu */

.second_menu{
    width: 40%;
    text-align: right;
}


.second_menu>a:first-child:hover{
    color: #7CBB02;
}

/* Buttons */

.button{
    border-radius: 5px;
    text-align: center;
    margin-left: 10px;
}

.empty{
    border: 1px solid white;
    padding: 5px 25px;
}

.empty:hover{
    background-color: #7CBB02;
    border: 1px solid #7CBB02;
}

.full{
    background-color: #7CBB02;
    padding: 5px 5px;
    border: 1px solid #7CBB02;
}

.full:hover{
    background-color: #0C325A;
    border: 1px solid white;
}

/* Hero Text */

.hero_textbox{
    color: white;
    width: 50%;
    margin-left: 7.5%;
    position: absolute;
    bottom: 30%;

}

.hero_textbox h1{
    font-size: 2.5rem;
    margin-bottom: 3rem;
}

.hero_textbox a{
    text-transform: uppercase;
    text-decoration: none;
    background-color: #7CBB02;
    color: white;
    padding: 15px 15px;
    border-radius: 5px;
    font-size: 13px;
    border: 1px solid #7CBB02;
}

.hero_textbox a:hover{
    background-color: #0C325A;
    border: 1px solid white
}



/**** Site Main ****/

/* Promo Text */

.promo {
    background-color: #D3D3D3;
    text-align: center;
}

.promo h3{
    padding-top: 2rem;
    padding-bottom: 0.5rem;
    font-size: 1.5rem;
}

.promo p{
    padding-bottom: 2rem;
    color: #808080;
}

/* Section Columns */

.columns{
    background-color: white;
    text-align: center;
    /* height: 50%; */
    margin-top: 2rem;
}

.piano, .affiancamento, .monitora{
    float: left;
    height: 100%;
    width: 32%;
}

.affiancamento{
    margin: 0 2%
}

.column{
    margin-bottom: 2rem;
}

.column img{
    height: 200px;
}

.column h2{
    color: #7CBB02;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    font-size: 1.3rem;
}

.column h2::after{
    content: '';
    width: 70px;
    height: 1px;
    background-color: #808080;
    display: block;
    margin: auto;
    margin-top: 1rem;
}

.column p{
    color: #808080;
}

hr{
    float: left;
    height: 1px;
    width: 94%;
    color: #D3D3D3;
    margin-left: 3%;
}
/* Section Panel */

.panel {
    /* background-color: brown; */
    /* height: 50%; */
}

.half {
    /* background-color: white; */
    width: 50%;
}

.mountain, .livello{
    float: left;
    margin-bottom: 2rem;
}

.mountain img{
    object-fit: contain;
    margin-top: 2rem;
}

.textbox{
    width: 70%;
    margin-top: 2rem;
    margin-left: 2rem;
}

.textbox h2{
    font-size: 2rem;
}

.textbox p{
    color: #808080;
    margin: 1rem 0;
}

.textbox a{
    font-size: 13px;
}

/**** Site Footer ****/

.foot{
    position: relative;
    padding: 3rem 0;
}

.selection{
    text-align: right;
    color: #808080;
}

.selection span,form,a {
    vertical-align: middle;
}
.bottomtext, .selection{
    float: left;
}

.bottomtext h2{
    font-size: 2rem;
}

form{
    display: inline-block;
}

select{
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    background-color: transparent;
    width: 150px;
    color: #808080;
    font-size: medium;
    border-bottom:1px solid #808080;
    margin: 0 1rem;
}

.selection>a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 13px;
    color: white;
    background-color: #7CBB02;
    border-radius: 5px;
    padding: 20px 10px;

}
.help{
    position: fixed;
    bottom: 0;
    right: 10%;
    background-color: #7CBB02 ;
    padding: 10px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    color: white;
    text-transform: uppercase;
    font-size: 13px;
}