/* Common Rules */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

clearfix::after{
    content: '';
    clear: both;
    display: table;
}

/* Utility Rules */

body{
    background-color: black;
    font-family: 'Roboto', sans-serif;
}

main{
    background-color: palevioletred;
    height: 900px;
}

footer{
    background-color: lightgreen;
    height: 300px;
}

.container{
    margin: auto;
    width: 85%;
}

/**** Site Header ****/

header{
    background-color: #0C325A;
    height: 500px;
    background-image: url(/assets/img/background-header.png);
    background-size: 800px;
    background-repeat: no-repeat;
    background-position: 115% bottom;
    position: relative
}

/* Nav bar */

nav{
    text-transform: uppercase;
    height: 60px;
    line-height: 60px;
}

nav div a{
    text-decoration: none;
    color: white;
    font-size: 10px;
}

.logo, .first_menu, .second_menu{
    float: left;
}

.logo{
    width: 15%;
    padding: 10px 0;
}

/* First Menu */
.first_menu{
    width: 45%;
    text-align: center;
}

.first_menu a{
    padding-left: 5px;
}

.first_menu a:hover{
    color: #7CBB02;
}

/* Second Menu */

.second_menu{
    width: 40%;
    text-align: right;
}


.second_menu>a:first-child:hover{
    color: #7CBB02;
}

/* Buttons */

.button{
    border-radius: 5px;
    text-align: center;
    margin-left: 10px;
}

.empty{
    border: 1px solid white;
    padding: 5px 25px;
}

.empty:hover{
    background-color: #7CBB02;
    border: 1px solid #7CBB02;
}

.full{
    background-color: #7CBB02;
    padding: 5px 5px;
    border: 1px solid #7CBB02;
}

.full:hover{
    background-color: #0C325A;
    border: 1px solid white;
}

/* Hero Text */

.hero_textbox{
    color: white;
    width: 50%;
    margin-left: 7.5%;
    position: absolute;
    bottom: 30%;

}

.hero_textbox h1{
    font-size: 2.5rem;
    margin-bottom: 3rem;
}

.hero_textbox a{
    text-transform: uppercase;
    text-decoration: none;
    background-color: #7CBB02;
    color: white;
    padding: 15px 15px;
    border-radius: 5px;
    font-size: 13px;
    border: 1px solid #7CBB02;
}

.hero_textbox a:hover{
    background-color: #0C325A;
    border: 1px solid white
}



/**** Site Main ****/

/* Promo Text */

.promo {
    background-color: #D3D3D3;
    text-align: center;
}

.promo h3{
    padding-top: 2rem;
    padding-bottom: 0.5rem;
}

.promo p{
    padding-bottom: 2rem;
    color: #808080;
}

/* Columns */

.columns{
    background-color: white;
    text-align: center;
}

.piano, .affiancamento, .monitora{
    float: left;
    height: 300px;
    width: 32%;
    background-color: purple;
}

.affiancamento{
    margin: 0 2%
}






/**** Site Footer ****/